<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to 'All Users', users_path %> <%= link_to 'Your Profile', user_path(current_user) %> <%= link_to 'Your Feed', posts_path %>
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
      <% end %>
    </div>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= render 'layouts/friend_request' if @friend_requests %>
    <%= yield %>
  </body>
</html>
